// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021-2023 NXP
 */

/*
 * NOTE: This DTS file is written for the wifi chips that supporting 1.8V
 * SDIO3.0, and also 3.3V SDIO2.0
 */


/ {
};

